
body {
    background-color: pink;
    text-align: center;
    margin: auto;
    
}

h1 {
margin: 150px 0px 50px 0px;
font-family: 'Lobster', cursive;

}

p {
    font-family: 'Arvo', serif;
    margin: 15px 0 15px 0px;
}